---
import "../styles/global-styles.css"
import {Box, Col} from "./Box";
import { BoldLink } from "./HomeComponents";
import { markdownComponentStyles } from "./MarkdownComponents.css";
import RootLayout from "./RootLayout.astro";

const { frontmatter, } = Astro.props;

const locale = ["en-GB", "en-US"];
const shortFormatter = new Intl.DateTimeFormat(locale, {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<RootLayout title={frontmatter.title} sp={7}>
	<header>
		<BoldLink href="/">danielberndt.net</BoldLink>
	</header>
	<main>
		<Box color="secondary" textTransform="uppercase" size={14} fontStyle="italic">
			{shortFormatter.format(new Date(frontmatter.createdAt))}
		</Box>
		<slot/>
	</main>
	<Col as="footer" align="center" sp={4}>
		<Box as="p" size={14}>If you liked what you have read, you might want to <a href="https://twitter.com/D40B" class={markdownComponentStyles.a}>follow me on Twitter</a> to keep up to date :)</Box>
		<BoldLink href="/">Home</BoldLink>
	</Col>
</RootLayout>
