---
// import {resolve, relative} from "path";
import "../styles/global-styles.css"
import MainContainer from "./MainContainer";
const {title, sp, frontmatter} = Astro.props;

// const srcDir = resolve(import.meta.url.replace("file://", ""), "../..")
const file = frontmatter?.file;

const analyticsScript = `<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "64be510055c64d50837975a45dcc8538"}'></script>`

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width minimum-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || "Daniel Berndt - Berlin-based Web Developer"}</title>
	</head>
	<body>
		<MainContainer sp={sp} editFilePath={file}>
			<slot/>
		</MainContainer>
		<Fragment set:html={analyticsScript}/>
	</body>
</html>
