---
import "../styles/global-styles.css"
import MainContainer from "./MainContainer";
const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width minimum-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || "Daniel Berndt - Berlin-based Web Developer"}</title>
	</head>
	<body>
		<MainContainer sp={Astro.props.sp}>
			<slot/>
		</MainContainer>
	</body>
</html>
