* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

body {
  padding-right:200px;

  @media screen and (max-width: 700px) {
    padding-right:0;
  }
}

.main-header {
  position: absolute;
  position: fixed;
  right:0;
  top:0;
  width:200px;
  height:100%;
  text-align: center;
  padding-top:50px;
  background-color: rgba(255,255,255,0.9);

  h1 {
    display: none;
  }

  .logo {
    width:100px;
    height:100px;
    display: inline-block;
    margin-bottom: 20px;

    > img {
      max-width: 100%;
    }
  }

  .main-nav {
    list-style: none;

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $brand;
      display: inline-block;
      margin-bottom: $_rythm - 20px;
      padding:5px 10px;
      @include transition(background-color 0.2s, color 0.2s);

      &:hover {
        background-color: $brand;
        color:#fff;
      }
    }
  }

  @media screen and (max-width: 700px) {
    position: relative;
    left:0;
    height:auto;
    right:auto;
    width:100%;
    overflow:hidden;
    padding-top: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin-bottom: 20px;

    h1 {
      display: block;
    }

    .logo {
      width:50px;
      height:50px;
      float:left;
      margin: 15px;
    }

    .main-nav {
      > li {
        display: inline-block;

        > a {
          display: inline-block;
          margin-bottom: 0;
        }
      }
    }
  }
}

.content-box {
  padding:50px;
  margin: 0 auto;
  max-width: 600px;

  @media screen and (max-width: 700px) {
    padding:20px 10px;
  }
}

section.projects {
  background-color: $brand;
  color:#fff;

  .content-box {
  }
}

.project-list {
  list-style: none;
}

.project-item {
  margin-bottom:2*$_rythm;
}

.project-box {
  padding:15px;
  background-color: #0f3552;
  color:#fff;

  img {
    display: block;
    max-width: 100%;
    margin-bottom: $_rythm;
  }

  p:last-child {
    margin-bottom: 0;
  }
}