.footer {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.findMeOn {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #999;
  margin-right: 0.5rem;
}

.icon {
  fill: #63b2bd;
  transition: fill 0.15s ease-out;
  margin-left: 0.5rem;

  &:hover {
    fill: color(#63b2bd l(-10%));
  }
}
