.header {
  background: #18363a;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5) inset;
}

.centerBox {
  max-width: 60em;
  margin: 0 auto;
  position: relative;
  height: 50px;
}

.avatar {
  position: absolute;
  top: 100%;
  left: 0.75rem;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  border-radius: 50%;
  background-image: url("../assets/daniel.jpg");
  border: 3px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.h1 {
  margin: 0;
}
